---
const personalImageAlt = "Brian Chavez"
import Badge from "@/components/Badge.astro"
import LinkedInIcon from "@/components/icons/LinkedIn.astro"
import MailIcon from "@/components/icons/Mail.astro"
import SocialPill from "@/components/SocialPill.astro"
---

<div class="max-w-xl">
  <div class="flex gap-4 mb-4">
    <img
      class="rounded-full shadow-lg size-16"
      src="https://media.licdn.com/dms/image/D4D03AQE-GpU13RR4Vg/profile-displayphoto-shrink_200_200/0/1721310353919?e=1726704000&v=beta&t=gsjwD5fPL-aZdcKp8xsFu1B5PsQdkx0zbmqCwqZ5FbA"
      alt={personalImageAlt}
    />
    <a
      href="https://www.linkedin.com/in/brian-chavez-71185226a/"
      target="_blank"
      rel="noopener"
      class="flex items-center transition md:justify-center md:hover:scale-105"
    >
      <Badge>Disponible para trabajar</Badge>
    </a>
  </div>
  <h1
    class="text-4xl font-bold tracking-tight text-gray-800 sm:text-5xl dark:text-white"
  >
    Hola, soy Brian
  </h1>
  <p
    class="mt-6 text-xl text-gray-800 dark:[&>strong]:text-yellow-200 [&>strong]:text-yellow-500 [&>strong]:font-semibold dark:text-gray-300"
  >
    Programador de 22 años de Buenos Aires, Argentina. <strong
      >Especializado en el desarrollo de aplicaciones web</strong
    >. 
  </p>
  <nav class="flex flex-wrap gap-4 mt-8">
    <SocialPill href="mailto:lionelbrian11@gmail.com">
      <MailIcon class="size-4" />
      Contáctame
    </SocialPill>
    <SocialPill href="https://www.linkedin.com/in/brian-chavez-71185226a/">
      <LinkedInIcon class="size-4" />
      LinkedIn
    </SocialPill>
  </nav>
</div>
